body {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.basic {
width: 30vw;
}

p {
  display: grid;
    background-color: limegreen;
  border: solid black 10px;
  width: 20vw;
  margin: 18vh auto;
  padding: 20px;
}


h6 {
  margin: 5vh;
  text-align: center;
  }