body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.basic {
  width: 50vw;
}

.basic:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

p {
  display: grid;
    background-color: limegreen;
  border: solid black 10px;
  width: 20vw;
  margin: 18vh auto;
  padding: 20px;
}


h6 {
  margin: 5vh;
  text-align: center;
  }