p {
  display: grid;
  place-items: center;
  background-color: limegreen;
  border: solid black 10px;
  width: 20vw;
  margin: 18vh auto;
  padding: 20px;
}

.basic {
}

h6 {
  margin: 5vh;
  text-align: center;
  }